/* CHANGELISTS */





.m-change-list .hiddenfields { display:none; }



.m-change-list .change-list__filtered {
    min-height: 400px;
}

.m-change-list .change-list__filtered {
    background: white url(../img/changelist-bg.gif) top right repeat-y !important;
}

.m-change-list .change-list__filtered .paginator,
.change-list__filtered #toolbar,
.change-list__filtered div.xfull {
    margin-right: 160px !important;
    width: auto !important;
}

.m-change-list .change-list__filtered table tbody th {
    padding-right: 1em;
}

#changelist .toplinks {
    border-bottom: 1px solid #ccc !important;
}



.m-change-list .change-list__filtered .paginator {
    border-right: 1px solid #ddd;
}

/* CHANGELIST TABLES */



#changelist table tfoot {
    color: #666;
}

/* TOOLBAR */

#changelist #toolbar {
    padding: 3px;
    border-bottom: 1px solid #ddd;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    color: #666;
}

#changelist #toolbar form input {
    font-size: 11px;
    padding: 1px 2px;
}

#changelist #toolbar form #searchbar {
    padding: 2px;
}

#changelist #changelist-search img {
    vertical-align: middle;
}


/* DATE DRILLDOWN */

.m-change-list ul.toplinks {
    display: block;
    background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
    border-top: 1px solid white;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.m-change-list ul.toplinks li {
    padding: 3px 6px;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
}

.m-change-list ul.toplinks .date-back a {
    color: #999;
}

.m-change-list ul.toplinks .date-back a:hover {
    color: #036;
}


/* ACTIONS */

.change-list__filtered .actions {
    margin-right: 160px !important;
    border-right: 1px solid #ddd;
}

#changelist table input {
    margin: 0;
}

#changelist table tbody tr.selected {
    background-color: #FFFFCC;
}

#changelist .actions {
    color: #999;
    padding: 3px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
}

#changelist .actions.selected {
    background: #fffccf;
    border-top: 1px solid #fffee8;
    border-bottom: 1px solid #edecd6;
}

#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.g-clear,
#changelist .actions span.question {
    font-size: 11px;
    margin: 0 0.5em;
    display: none;
}

#changelist .actions:last-child {
    border-bottom: none;
}

#changelist .actions select {
    border: 1px solid #aaa;
    margin-left: 0.5em;
    padding: 1px 2px;
}

#changelist .actions label {
    font-size: 11px;
    margin-left: 0.5em;
}

#changelist #action-toggle {
    display: none;
}

#changelist .actions .button {
    font-size: 11px;
    padding: 1px 2px;
}
