/**
 * Common styles
 *
 * Contains all the styles needed for the administrative interface, divided into sections.
 * Later this dump should be divided into chunks (individual files).
 *
 * @package     django-wtf.admin
 * @version
 * @author      Golikov Artem <golikoffartem@gmail.com.ru>
 */


/**
 * @section     Common elements
 */

.g-clear {
    clear: both;
}


/**
 * @section     Wrapers
 */

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}
.container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}
.ie6 .container {
    position: static;
}
.login .container {
    width: 28em;
    min-width: 300px;
    margin: 100px auto 0;
    background: white;
    border: 1px solid #ccc;
}


/**
 * @section     Header
 */

.header {
    width: 100%;
    overflow: hidden;
    background: #417690;
}
.header__branding {
    margin: 8px 0;
    padding: 0 10px;
    font-size: 18px;
    font-weight: normal;
    color: #f4f379;
}


/**
 * @subsection  User name and links
 */

.user {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    text-align: right;
}
.rtl .user {
    right: auto;
    left: 0;
    text-align: left;
}
.user__welcome {
    font-size: 11px;
    color: #ffc;
}
.user__name {
    font-weight: bolder;
}
.user__link:link,
.user__link:visited {
    font-size: 11px;
    color: white;
}
.user__link:hover {
    text-decoration: underline;
}
.user__link-separator {
    font-size: 11px;
    color: #ffc;
}


/**
 * @section     Footer
 */

.footer {
    clear: both;
    padding: 10px;
}


/**
 * @section     Breadcrumbs
 */

.breadcrumbs {
    padding: 2px 8px 3px 8px;
    text-align: left;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
}
.rtl .breadcrumbs {
    text-align: right;
}
.breadcrumbs__link {
    font-size: 11px;
}
.breadcrumbs__separator {
    font-size: 11px;
    color: #999;
}
.breadcrumbs__current {
    font-size: 11px;
    color: #999;
}


/**
 * @section     Messages
 */

.messages {
    padding-bottom: 5px;
}
.messages__list {
    margin: 0;
    padding: 0;
}
.messages__item {
    display: block;
    margin: 0 0 3px 0;
    padding: 4px 5px 4px 25px;
    font-size: 12px;
    color: #666666;
    border-bottom: 1px solid #ddd;
    background: #ffc url(../img/icon_success.gif) 5px .3em no-repeat;
}
.messages__item_type_warning {
    background-image: url(../img/icon_alert.gif);
}
.messages__item_type_error {
    background-image: url(../img/icon_error.gif);
}


/**
 * @section     Content
 */


/**
 * @subsection  Content layout wrapper
 */

.content {
    margin: 10px 15px;
}
.m-dashboard .content {
    width: 500px;
}
.lt-ie8 .m-dashboard .content {
    width: 768px;
}
.content__header {}
.content__title {
    margin: 0 0 .2em 0;
    padding: 0 6px 0 0;
    font-size: 18px;
    font-weight: bolder;
    color: #666666;
}


/**
 * @subsection  Main content wrapper
 */

.content__main {
    float: left;
    width: 100%;
}
.rtl .content__main {
    float: right;
}
.login .content__main {
    width: 100%;
}
.lt-ie8 .m-dashboard #content-main {
    width: 535px;
}
.content_type_colSM .content__main {
    float: right;
}


/**
 * @subsection  Related content wrapper
 */

.content__related {
    position: relative;
    width: 18em;
    margin-right: -19em;
    float: right;
}
.content_type_colSM .content__related {
    float: left;
    margin-right: 0;
    margin-left: -19em;
}
.ie6 .content_type_colMS .content__related {
    position: static;
    margin-right: 0;
    margin-left: 10px;
}
.ie6 .content_type_colSM .content__related {
    position: static;
    margin-right: 10px;
    margin-left: -115px;
}
.rtl .content__related {
    margin-left: -19em;
    margin-right: auto;
    float: left;
}


/**
 * @subsection  Content column types
 */

.content_type_colM {}
.ie7 .content_type_colM {
    position: relative;
}
.m-popup .content_type_colM {
    width: 95%;
}
.content_type_colMS {
    margin-right: 20em !important;
}
.rtl .content_type_colMS {
    margin-left: 20em !important;
    margin-right: 10px !important;
}
.content_type_flex {}
.content_type_colSM {
    margin-left: 20em !important;
}


/**
 * @section     Module
 */

.module {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background: white;
}
.module__header {
    margin: 0;
    padding: 2px 5px 3px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background: url("../img/default-bg.gif") repeat-x scroll left top #7CA0C7;
}
.module__header_light {
    color: #666666;
    background: url("../img/nav-bg.gif") repeat-x scroll left bottom #EEEEEE;
}
.module__subheader {
    margin-top: 0.6em;
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}
.module__table {
    border-collapse: collapse;
}
.module blockquote {
    margin-left: 12px;
}
/*
.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
    color: white;
}
*/


/**
 * @section     Object tools (add item link e.g.)
 */

.object-tools {
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
    float: right;
    padding-left: 0;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
}
.rtl .object-tools {
    float: left;
}
.form-row .object-tools {
    height: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3.5em;
    float: none;
}
.object-tools__action {
    display: block;
    height: 16px;
    margin-left: 2px;
    padding: 0 0 0 8px;
    float: left;
    background: url(../img/tool-left.gif) 0 0 no-repeat;
}
.object-tools__action:hover {
    background: url(../img/tool-left_over.gif) 0 0 no-repeat;
}
.object-tools__action-wrapper {
    display: block;
    padding: .1em 14px .1em 8px;
    height: 14px;
    float: left;
    color: white;
    font-size: 11px;
    background: #999 url(../img/tool-right.gif) 100% 0 no-repeat;
}
.object-tools__action:hover .object-tools__action-wrapper {
    background: #5b80b2 url(../img/tool-right_over.gif) 100% 0 no-repeat;
}


/**
 * @subsection  Object tools action modifiers
 */

.object-tools__action_add .object-tools__action-wrapper {
    background: #999 url(../img/tooltag-add.gif) top right no-repeat;
    padding-right: 28px;
}
.object-tools__action_add:hover .object-tools__action-wrapper {
    background: #5b80b2 url(../img/tooltag-add_over.gif) top right no-repeat;
}
.object-tools__action_viewsite .object-tools__action-wrapper,
.object-tools__action_go .object-tools__action-wrapper {
    background: #999 url(../img/tooltag-arrowright.gif) top right no-repeat;
    padding-right: 28px;
}
.object-tools__action_viewsite:hover .object-tools__action-wrapper,
.object-tools__action_go:hover .object-tools__action-wrapper {
    background: #5b80b2 url(../img/tooltag-arrowright_over.gif) top right no-repeat;
}


/**
 * @section     Changelist
 */

.changelist {
    position: relative;
    width: 100%;
}


/**
 * @subsection  Changelist filter
 */

.changelist-filter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 160px;
    border-left: 1px solid #ddd;
    background: #efefef;
    margin: 0;
}
.rtl .changelist-filter {
    right: auto;
    left: 0;
    border-left: 0 none;
    border-right: 1px solid #ddd;
}
.changelist-filter h2 {
    font-size: 11px;
    padding: 2px 5px;
    border-bottom: 1px solid #ddd;
}


/**
 * @subsection  One changelist filter
 */

.filter {}
.filter__header {
    margin: 9px 0 0;
    padding: 0;
    font-size: 12px;
}
.filter__items {
    padding: 0;
    margin: 0.2em 0 9px 10px;
}
.ie6 .filter__items {
    margin-right: -10px;
}
.filter__item {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.filter__item_selected {
    border-left: 5px solid #ccc;
    padding-left: 5px;
    margin-left: -10px;
}
.rtl .filter__item_selected {
    margin-left: 0;
    margin-right: -10px;
    padding-left: 0;
    padding-right: 5px;
    border-left: 0 none;
    border-right: 5px solid #ccc;
}
.filter__item-link {
    color: #999;
}
.filter__item-link:hover {
    color: #036;
}
.filter__item_selected .filter__item-link {
    color: #5b80b2 !important;
}


/**
 * @section     Errors
 */

.form-errors-occurred {
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    line-height: 140%;
    font-size: 12px !important;
    color: red;
    border: 1px solid red;
    background: #ffc url(../img/icon_error.gif) 5px .3em no-repeat;
}
.rtl .form-errors-occurred {
    background-position: 100% .3em;
    padding: 4px 25px 4px 5px;
}


/**
 * @section     Result list
 */

.results {}
.change-list__filtered .results {
    margin-right: 160px !important;
    width: auto !important;
}
.rtl .change-list__filtered .results {
    margin-right: 0 !important;
    margin-left: 160px !important;
}
.results__list {
    width: 100%;
}
.change-list__filtered .results__list {
    border-right: 1px solid #ddd;
}
.rtl .change-list__filtered .results__list {
    border-left: 1px solid #ddd;
    border-right: 0 none;
}


/**
 * @subsection  Results header
 * Cascade is used because of the violation mvc pattern in Django
 */

.results__header th {
    padding: 0;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 11px;
    color: #666666;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.results__header th:first-child {
    border-left: none !important;
}
.results__header th.optional {
    font-weight: normal !important;
}
.results__header th a:link,
.results__header th a:visited {
    color: #666666;
}
.results__header th.sorted {
    background: #c5c5c5 url(../img/nav-bg-selected.gif) top left repeat-x;
}
.results__header th.action-checkbox-column {
    width: 1.5em;
    text-align: center;
}
.results__column-name {}
.results__column-name-text {
    padding: 2px 5px;
    display:block;
}
.results__column-name-link {
    display: block;
    cursor: pointer;
    padding: 2px 5px;
}


/**
 * @subsection  Results items
 */

.results__item {}
.results__item_odd {
    background: #EDF3FE;
}
.results__item_even {
    background: white;
}
.results__item td,
.results__item th {
    padding: 5px;
    line-height: 13px;
    vertical-align: top;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #ddd;
}
.results__item td:first-child,
.results__item th:first-child {
    border-left: 0;
    border-right: 1px solid #ddd;
}
.results__item td.action-checkbox {
    text-align:center;
}
.results__item th {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}


/**
 * @subsection  Sort options
 */

.sortable:hover {
    background: white url(../img/nav-bg-reverse.gif) 0 -5px repeat-x;
}
.sort-options {
    display: none;
    padding: 4px 5px 0 5px;
    float: right;
    text-align: right;
}
.rtl .sortoptions {
    float: left;
}
.sorted .sort-options {
    display: block;
}
.sort-options__item {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../img/sorting-icons.gif) no-repeat;
}
.sort-options__item_remove {
    visibility: hidden;
    background-position: -4px -5px;
}
.sorted:hover .sort-options__item_remove {
    visibility: visible;
}
.sort-options__item_remove:hover {
    background-position: -4px -27px;
}
.sort-options__item_ascending {
    background-position: -5px -50px;
}
.sort-options__item_ascending:hover {
    background-position: -5px -72px;
}
.sort-options__item_descending {
    background-position: -5px -94px;
}
.sort-options__item_descending:hover {
    background-position: -5px -115px;
}
.sort-options__priority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: top;
}


/**
 * @section     Paginator
 * Cascade is used because of the violation mvc pattern in Django
 */

.paginator {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    border-top: 1px solid #ddd;
}
.changelist .paginator {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: white url(../img/nav-bg.gif) 0 180% repeat-x;
    overflow: hidden;
}
.paginator__result-count {
    font-size: 11px;
}
.changelist .paginator__result-count {
    color: #666;
}
.paginator__show-all {
    margin-left: 1em;
    padding: 0 !important;
    border: none !important;
}
.paginator__show-all:hover {
    color: #036 !important;
    background: transparent !important;
}


/**
 * @subsection  Paginator page links
 */

.paginator__pages {
    font-size: 11px;
}
.paginator__pages a:link,
.paginator__pages a:visited {
    padding: 2px 6px;
    border: solid 1px #ccc;
    background: white;
    text-decoration: none;
}
.paginator__pages .end {
    border-width: 2px !important;
    margin-right: 6px;
}
.paginator__pages .this-page {
    padding: 2px 6px;
    font-weight: bold;
    font-size: 13px;
    vertical-align: top;
}
.paginator__pages a:hover {
    color: white;
    background: #5b80b2;
    border-color: #036;
}


/**
 * @section     Any form
 */

.form {}


/**
 * @subsection  Form's submit row
 */

.form-submit {
    padding: 5px 7px;
    text-align: right;
    background: white url(../img/nav-bg.gif) 0 100% repeat-x;
    border: 1px solid #ccc;
    margin: 5px 0;
    overflow: hidden;
}
.m-popup .form-submit {
    overflow: auto;
}
.login .form-submit {
    clear: both;
    padding: 1em 0 0 9.4em;
}
.rtl .login .form-submit {
    clear: both;
    padding: 1em 9.4em 0 0;
}
.rtl .form-submit {
    text-align: left
}
.form-submit__input {
    background: white url(../img/nav-bg.gif) bottom repeat-x;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}
.form-submit__input_default {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../img/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    float: right;
}
.rtl .form-submit__input_default {
    float: left;
}
.form-submit__input {
    margin: 0 0 0 5px;
}
.rtl .form-submit__input {
    float: left;
}
.form-submit__delete-wrapper {
    margin: 0.3em;
    float: left;
}
.rtl .form-submit__delete-wrapper {
    float: right;
}
.form-submit__delete {
    background: url(../img/icon_deletelink.gif) 0 50% no-repeat;
    padding-left: 14px;
}
.rtl .form-submit__delete {
    padding-right: 14px;
}
