/* LOGIN FORM */

.m-login {
    background: #eee;
}




.m-login form {
    margin-top: 1em;
}

.m-login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.m-login .form-row label {
    float: left;
    width: 9em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.m-login .form-row #id_username, .m-login .form-row #id_password {
    width: 14em;
}

.m-login span.help {
    font-size: 10px;
    display: block;
}

.m-login .password-reset-link {
    text-align: center;
}
