{% extends "admin/base_site.html" %}


{% load i18n %}
{% load url from future %}


{% block breadcrumbs %}
    <nav class="breadcrumbs">
        <a class="breadcrumbs__link" href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="breadcrumbs__separator">&rsaquo;</span>
        <span class="breadcrumbs__current">{% trans 'Server error' %}</span>
    </nav>
{% endblock %}


{% block title %}{% trans 'Server error (500)' %}{% endblock %}


{% block content %}
<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
<p>
    {% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}
</p>
{% endblock %}
