{% extends "admin/index.html" %}


{% load i18n %}
{% load url from future %}


{% if not is_popup %}
    {% block breadcrumbs %}
        <nav class="breadcrumbs">
            <a class="breadcrumbs__link" href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            <span class="breadcrumbs__separator">&rsaquo;</span>
            {% for app in app_list %}
                {% blocktrans with app.name as name %}
                    <span class="breadcrumbs__current">{{ name }}</span>
                {% endblocktrans %}
            {% endfor %}
        </nav>
    {% endblock %}
{% endif %}


{% block sidebar %}{% endblock %}
