{% load i18n %}


<article class="filter">
    <h1 class="filter__header">
        {% blocktrans with filter_title=title %}
            By {{ filter_title }}
        {% endblocktrans %}
    </h1>
    <ul class="filter__items">
        {% for choice in choices %}
            <li class="filter__item {% if choice.selected %}filter__item_selected{% endif %}">
                <a class="filter__item-link" href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a>
            </li>
        {% endfor %}
    </ul>
</article>
