{% extends "admin/base_site.html" %}


{% load i18n %}
{% load url from future %}
{% load admin_urls %}


{% block breadcrumbs %}
    <nav class="breadcrumbs">
        <a class="breadcrumbs__link" href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="breadcrumbs__separator">&rsaquo;</span>
        <a class="breadcrumbs__link" href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
        <span class="breadcrumbs__separator">&rsaquo;</span>
        <a class="breadcrumbs__link" href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
        <span class="breadcrumbs__separator">&rsaquo;</span>
        <a class="breadcrumbs__link" href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|truncatewords:"18" }}</a>
        <span class="breadcrumbs__separator">&rsaquo;</span>
        <span class="breadcrumbs__current">{% trans 'History' %}</span>
    </nav>
{% endblock %}


{% block content %}
<section class="content__main">
    <div class="module">
        {% if action_list %}
            <table class="change-history">
                <thead>
                    <tr>
                        <th class="change-history__header" scope="col">{% trans 'Date/time' %}</th>
                        <th class="change-history__header" scope="col">{% trans 'User' %}</th>
                        <th class="change-history__header" scope="col">{% trans 'Action' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for action in action_list %}
                        <tr>
                            <th class="change-history__date" scope="row">
                                {{ action.action_time|date:"DATETIME_FORMAT" }}
                            </th>
                            <td class="change-history__user">
                                {{ action.user.username }}
                                {% if action.user.get_full_name %}
                                    ({{ action.user.get_full_name }})
                                {% endif %}
                            </td>
                            <td class="change-history__action">
                                {{ action.change_message }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="change-history__empty">
                {% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
